absl-py==0.11.0
branca==0.4.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
dogpile.cache==1.1.2
Flask==1.1.2
Flask-Cors==3.0.10
folium==0.12.1
geojson==2.5.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
kml2geojson==4.0.2
LiMiC==0.3.19
MarkupSafe==1.1.1
networkx==2.5
numpy==1.20.1
ortools==8.1.8487
pbr==5.5.1
protobuf==3.15.1
PyGeoj==1.0.0
pyproj==3.0.0.post1
requests==2.25.1
scipy==1.6.0
setproctitle==1.2.2
Shapely==1.7.1
six==1.15.0
stevedore==3.3.0
urllib3==1.26.3
Werkzeug==1.0.1